.image-span {
  min-width: 50%;
  text-align: center;
}

.text-span {
  min-width: 50%;
  padding-bottom: 20px;
}

.open-src-img {
  width: 20em;
  min-height: 100%;
}

.contract-img {
  width: 15em;
  min-height: 100%;
}

@media screen and (max-width: 760px) {
  .open-src-img {
    width: 15em;
  }
}
