.card {
  background-color: white;
  padding: 20px;
  margin: 10px 10px;
  min-height: 300px;
}

.card-title {
  font-weight: 450;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-div {
  margin-top: 16px;
}
