.topnav {
  overflow: hidden;
  background-color: #2979ff;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav :first-child {
  background-color: #1c54b2;
  font-weight: 600;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #5393ff;
  color: #333;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3.5rem;
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.footer {
  background-color: #333;
  padding: 8px;
  color: #f2f2f2;
  font-size: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: #5393ff;
}
